<div class="">
            <table class="table  table-striped table-sm table-hover">    <thead>
                <tr>
                    <th>
                        <span >Codigo</span>
                    </th>
                    <th>
                        <span >Nombres</span>
                    </th>
                    <th>
                        <span >Estado</span>
                    </th>
                    <th>
                        <span >Valor</span>
                    </th>
                    <th>
                        <span>Año</span>
                    </th>
                    <th>
                        <span>Direccion</span>
                    </th>           
                </tr>
                
                </thead>
                <tbody>
                <tr *ngFor="let item of data" >
                    <td>{{item.codigocatastral}}</td>
                    <td>{{item.nombres}}</td>
                    <td>{{item.estado}}</td>
                    <td>{{item.valor}}</td>
                    <td>{{item.ano}}</td>
                    <td>{{item.direccion}}</td>    
                </tr>
                </tbody> 
                <tfoot>
                <tr>
                    <td colspan="10">
                        
                    </td>
                </tr>
               </tfoot>
            </table>
           </div>

<ngb-pagination (click)="paginaChange()" [collectionSize]="120" [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
<pre>Current page: {{page}}</pre>
