
  <!-- formulario seleccion --> 
    <div class="row">
        <h3 class="col-xs-6">{{dataTitular.nombre_cliente}}</h3>
        <div class="col-xs-2">
            <label class="label-control">Filas</label>
            <select class="form-control input-sm" [(ngModel)]="rowsOnPage">
                <option [ngValue]="5">5</option>
                <option [ngValue]="10">10</option>
                <option [ngValue]="15">15</option>
            </select>
        </div>
        <div class="col-xs-4">
            <div class="row">
                <label class="col-xs-12 label-control">Buscar por</label>
            </div>
            <div class="col-xs-6">
                <div class="row">
                    <select class="form-control input-sm" [(ngModel)]="sortBy">
                        <option ngValue="codigo_coactiva">Codigo</option>
                        <option ngValue="concepto">Concepto</option>
                        <option ngValue="nombre_cliente">Nombre</option>
                        <option ngValue="monto">Monto</option>
                        <option ngValue="fecha_emision">Emision</option>
                        <option ngValue="fecha_vencimiento">Vencimiento</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="row">
                    <select class="form-control input-sm" [(ngModel)]="sortOrder">
                        <option ngValue="asc">Asendente</option>
                        <option ngValue="desc">Desendente</option>
                        <option ngValue="badValue">Mismo Valor</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default ">
      <div class="panel-heading">Número de registros: {{numRegisters}}</div> 
      <table class="table  table-striped table-sm" [mfData]="data " #mf="mfDataTable"
             [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
          <thead>
          <tr>
              <th>
                  <mfDefaultSorter by="codigo_coactiva">Codigo</mfDefaultSorter>
              </th>
              <th>
                  <mfDefaultSorter by="concepto">Concepto</mfDefaultSorter>
              </th>
              <th>
                  <mfDefaultSorter by="nombre_cliente">Nombre</mfDefaultSorter>
              </th>
              <th>
                  <span>Estado</span>
              </th>
              <th>
                  <mfDefaultSorter by="monto">Monto</mfDefaultSorter>
              </th>
              <th>
                  <mfDefaultSorter by="fecha_emision">Emision</mfDefaultSorter>
              </th>
              <th>
                  <mfDefaultSorter by="fecha_vencimiento">vencimiento</mfDefaultSorter>
              </th>          
          </tr>          
          </thead>
          <tbody>
          <tr *ngFor="let item of mf.data" >
              <td>{{item.codigo_coactiva}}</td>
              <td>{{item.concepto}}</td>
              <td>{{item.nombre_cliente}}</td>
              <td>{{item.estado | uppercase}}</td>
              <td>{{item.monto}}</td>
              <td>{{item.fecha_emision}}</td>
              <td>{{item.fecha_vencimiento}}</td>      
          </tr>
          </tbody> 
          <tfoot>
          <tr>
              <td colspan="10">
                  <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
              </td>
          </tr>
         </tfoot>
      </table>
  </div>
  <button (click)="generarOrden()" class="btn">Generar Orden</button>
  <!-- formulario seleccion -->  